[submodule "3rdpart/glfw"]
	path = 3rdpart/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdpart/gl3w"]
	path = 3rdpart/gl3w
    url = https://github.com/skaslev/gl3w.git
[submodule "3rdpart/imgui/imgui"]
	path = 3rdpart/imgui/imgui
	url = https://github.com/ocornut/imgui.git
